.idea
.idea/
.idea/workspace.xml
Cocos2dx/.settings/
Cocos2dx/cocosstudio/
Cocos2dx/frameworks/
Cocos2dx/runtime/
Cocos2dx/script/
Cocos2dx/tools/
Cocos2dx/node_modules/
Cocos2dx/.cocos-project.json
Cocos2dx/.project
Cocos2dx/Cocos2dx.css
Cocos2dx/Cocos2dx.cfg
Cocos2dx/Cocos2dx.udf
Cocos2dx/config.json
Cocos2dx/index.html
Cocos2dx/manifest.webapp
Cocos2dx/project.json