<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castlebuilding_1901001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,270}}</string>
                <key>offset</key>
                <string>{-33,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,77},{370,270}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>castlebuilding_1901001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{344,216}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{344,216}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>castlebuilding_1902001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{222,130}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,64},{222,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,554},{214,124}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{214,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902002.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,520},{208,130}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,69},{208,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,246},{228,136}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,64},{228,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{222,122}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,75},{222,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,220},{240,124}}</string>
                <key>offset</key>
                <string>{-17,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,73},{240,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{184,98}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,89},{184,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1902004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,834},{198,116}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,72},{198,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1903001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,274},{176,146}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,41},{176,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1903001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,917},{184,120}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,64},{184,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1904001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,713},{202,152}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,54},{202,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1904001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,680},{202,152}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,54},{202,152}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1904002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,812},{134,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,111}}</string>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>castlebuilding_1904002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,812},{134,111}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,111}}</string>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>castlebuilding_1904003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,966},{167,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,115}}</string>
                <key>sourceSize</key>
                <string>{167,115}</string>
            </dict>
            <key>castlebuilding_1904003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,966},{167,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,115}}</string>
                <key>sourceSize</key>
                <string>{167,115}</string>
            </dict>
            <key>castlebuilding_1904004.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,725},{157,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,96}}</string>
                <key>sourceSize</key>
                <string>{157,96}</string>
            </dict>
            <key>castlebuilding_1904004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,725},{157,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,96}}</string>
                <key>sourceSize</key>
                <string>{157,96}</string>
            </dict>
            <key>castlebuilding_1904005.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,719},{140,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>castlebuilding_1904005_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,719},{140,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,91}}</string>
                <key>sourceSize</key>
                <string>{140,91}</string>
            </dict>
            <key>castlebuilding_1905001.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,220},{102,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,169}}</string>
                <key>sourceSize</key>
                <string>{102,169}</string>
            </dict>
            <key>castlebuilding_1905001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,220},{102,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,169}}</string>
                <key>sourceSize</key>
                <string>{102,169}</string>
            </dict>
            <key>castlebuilding_1906001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,952},{180,108}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,92},{180,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1906001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,772},{200,116}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,79},{200,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1907001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,346},{206,214}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,35},{206,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1907001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{246,242}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{246,242}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1909001.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1062},{94,110}}</string>
                <key>offset</key>
                <string>{-32,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,62},{94,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1909001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,925},{128,118}}</string>
                <key>offset</key>
                <string>{-39,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,60},{128,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1910001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{188,112}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,79},{188,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1910001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,391},{208,128}}</string>
                <key>offset</key>
                <string>{-31,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,63},{208,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1911001.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,384},{224,134}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,69},{224,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1911001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,384},{224,134}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,69},{224,134}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1912001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{184,120}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,68},{184,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1912001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,652},{204,118}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,69},{204,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1913001.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1103},{76,98}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,75},{76,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1913001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1045},{106,176}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,84},{106,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1913002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1103},{76,98}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,75},{76,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1913002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1045},{106,176}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,84},{106,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1915001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,890},{194,110}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,82},{194,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1915001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1002},{190,118}}</string>
                <key>offset</key>
                <string>{-36,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,73},{190,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_1917001.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,601},{130,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{130,90}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,601},{130,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{130,90}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917002.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,493},{112,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{112,76}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917002_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,493},{112,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{112,76}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917003.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,607},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{116,92}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917003_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,607},{116,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{116,92}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917004.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,884},{100,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{100,80}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1917004_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,884},{100,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{100,80}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>castlebuilding_1918001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{210,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,150}}</string>
                <key>sourceSize</key>
                <string>{210,150}</string>
            </dict>
            <key>castlebuilding_1919001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,452},{175,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,143}}</string>
                <key>sourceSize</key>
                <string>{175,143}</string>
            </dict>
            <key>castlebuilding_1919001_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,452},{175,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,143}}</string>
                <key>sourceSize</key>
                <string>{175,143}</string>
            </dict>
            <key>castlebuilding_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{210,108}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,109},{210,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>castlebuilding_block_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,629},{154,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{154,82}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>castlebuilding_jiantou_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,237},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>castlebuilding_jidutiao_duquicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,237},{92,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,13}}</string>
                <key>sourceSize</key>
                <string>{92,13}</string>
            </dict>
            <key>castlebuilding_jindutiaodikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,906},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>castlebuilding_jz_nengliangtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,246},{88,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,8}}</string>
                <key>sourceSize</key>
                <string>{88,8}</string>
            </dict>
            <key>castlebuilding_jz_nengliangtiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{155,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,50}}</string>
                <key>sourceSize</key>
                <string>{155,50}</string>
            </dict>
            <key>castlebuilding_jz_nengliangtiaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,190},{5,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,12}}</string>
                <key>sourceSize</key>
                <string>{5,12}</string>
            </dict>
            <key>castlebuilding_jzmc_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,273},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>castlebuilding_mingchengdi_beijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,331},{160,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,24}}</string>
                <key>sourceSize</key>
                <string>{160,24}</string>
            </dict>
            <key>castlebuilding_paizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,159},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>castlebuilding_shijiandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,693},{143,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,24}}</string>
                <key>sourceSize</key>
                <string>{143,24}</string>
            </dict>
            <key>castlebuilding_tubiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,190},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castleBuild.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f766be5cbe793bad97fb3e6c02fc267a:1/1$</string>
            <key>textureFileName</key>
            <string>castleBuild.png</string>
        </dict>
    </dict>
</plist>
