<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle/dikuai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{225,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{225,125}}</string>
                <key>sourceSize</key>
                <string>{225,175}</string>
            </dict>
            <key>castle/dikuai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,143},{225,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{225,125}}</string>
                <key>sourceSize</key>
                <string>{225,175}</string>
            </dict>
            <key>castle/dikuai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{225,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{225,139}}</string>
                <key>sourceSize</key>
                <string>{225,175}</string>
            </dict>
            <key>castle/dikuai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{215,139}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{215,139}}</string>
                <key>sourceSize</key>
                <string>{225,175}</string>
            </dict>
            <key>castle/dikuai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,147}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{225,147}}</string>
                <key>sourceSize</key>
                <string>{225,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castlebuilding1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60582f5cb5b8c571c84a86d8194424aa:1/1$</string>
            <key>textureFileName</key>
            <string>castlebuilding1.png</string>
        </dict>
    </dict>
</plist>
