<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle_ruins_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1650},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1612},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1328},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1290},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,968},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,968},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1290},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,968},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1328},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,886},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,646},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,646},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,646},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,444},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,324},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,324},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>castle_ruins_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castle_ruins.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b2732282bc26d7ae27c321af4f83680$</string>
            <key>textureFileName</key>
            <string>castle_ruins.png</string>
        </dict>
    </dict>
</plist>
