<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12081015.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,462},{100,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>12083016.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,496},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,37},{35,27}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{33,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>dungeon_map_0_2_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,312}}</string>
                <key>sourceSize</key>
                <string>{450,312}</string>
            </dict>
            <key>finished_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,316},{178,180}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{178,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{138,92}}</string>
                <key>offset</key>
                <string>{79,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,53},{138,92}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>fushishu_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{190,120}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{190,120}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>huoyin_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,316},{134,144}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{134,144}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pkg.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3808807e04bb11fd1bc35aa069ff4242:1/1$</string>
            <key>textureFileName</key>
            <string>pkg.png</string>
        </dict>
    </dict>
</plist>
