<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>castle_dog_stand_rightdown_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,68},{30,18}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{30,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,36},{30,18}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{30,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,24},{30,16}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,37},{30,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{30,18}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,35},{30,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{32,20}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{32,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{32,20}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{32,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,20}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{32,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,20}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{32,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,18}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{32,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{30,18}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{30,18}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,24},{30,16}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{30,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>castle_dog_stand_rightdown_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,100},{30,16}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{30,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>castle_dog_stand_rightdown.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeb06583e910ba4090a82af1acb6bdcf:1/1$</string>
            <key>textureFileName</key>
            <string>castle_dog_stand_rightdown.png</string>
        </dict>
    </dict>
</plist>
